<h1>My tasks</h1>


<ul>
  <% @tasks.each do |task| %>
    <li>
      <span class="badge badge-pill badge-success">
        <%= task.completed %>
      </span>
      <%= link_to task.title, task_path(task.id) %>
    </li>
  <% end %>
</ul>

<span>
  <%= link_to "Create a new task", new_task_path, class: "btn btn-primary"%>
</span>
